<form class="example-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="example-full-width formField">
    <p></p>
    <label class="labelClass marginleft marginTop" name="labelfirst">ZIP Code</label>
    <input class="inputClass" name="first" ngModel required #first="ngModel">
    <span>-</span>
    <input class="inputClass" name="last" ngModel>

    <p></p>
    <label class="labelClass marginleft" name="labelDate">Date</label>
    <input class="inputClass" type="date" ngModel name="dateinput" />
    <p></p>
    <button class="btn-primary marginleft">Submit</button>
    <p></p>
    <label class="labelClass marginleft" name="labelResponse">Server Response:</label>
    <input class="labelClass marginleft" name="resultResponse" ngModel/>
  </div>
</form>

<p>First name value: {{ first.value }}</p>
<p>First name valid: {{ first.valid }}</p>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p>
