<h1>Edit</h1>

<p>This is a simple example of an Angular component with two form fields added.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementEdit()">Increment</button>

<p>

</p>
<form class="example-form">
  <div class="example-full-width formField">
    <label>Favorite food</label>
    <input [(ngModel)]="favouriteFood" class="inputClass" placeholder="Ex. Pizza" #ctrl="ngModel"  >
  </div>

  <div class="example-full-width formField">
    <label>Leave a comment</label>
    <input class="inputClass" placeholder="Ex. It makes me feel..." ng-model="comment"/>
  </div>
</form>
